<!-- Features section -->
<section class="section container">

    <h3 class="text-secondary text-center my-5">Our Customers</h3>

    <div class="row justify-content-center text-center mt-lg-3">
        <div class="col-lg-4">
            <h2 class="h2">Industrial Safety<small class="d-none">🦉</small></h2>
            <p>Getting Workers home Safely <br> Modular Predictive and Reactive Safety Solutions</p>
        </div>
        <div class="col-lg-4">
            <h2 class="h2">Consumer Health<small class="d-none">✨</small></h2>
            <p>Tracking and Improving Well-Being <br> Hardware & Software Solutions for Consumer Health</p>
        </div>
        <div class="col-lg-4">
            <h2 class="h2">Consumer Safety<small class="d-none">🧰</small></h2>
            <p>Keeping Patients and Loved Ones Safe<br> Protecting Individuals Health and Safety </p>
        </div>
    </div>


    <h3 class="text-secondary text-center my-5">Our Approach</h3>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="3em" height="3em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}" />
        </svg>
        <h2 class="h3">Efficiency Focused<small class="d-none">🚀</small></h2>
        <p>Cost-efficient solutions that minimize costs and resource consumption</p>
    </div>

    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="3em" height="3em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h3">Security First<small class="d-none">🛡️</small></h2>
        <p>Meet or Exceed security requirements of some of the worlds largest companies</p>
    </div>
    
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="3em" height="3em">
            <use href="{{ `images/feather/feather-sprite.svg#codesandbox` | relURL }}"/>
        </svg>
        <h2 class="h3">Think Big. Build Small.<small class="d-none">🧩</small></h2>
        <p>Create "building blocks" that enable rapid delivery of new products and solutions</p>
    </div>
</div>


</section>